{% load static %}

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0 ms-3">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu" aria-controls="sideMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="d-inline link-body-emphasis text-decoration-none">
                    <img src="{% static 'img/RoomEaseLogoNTNB.png' %}" alt="RoomEaseLogo" width="32" height="32" class="rounded-circle me-2">
                    <p class="d-inline my-5 fs-5">Room<span class="text-primary-emphasis">Ease</span></>
                </a>
            </div>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 {% if page == 'home' %} link-secondary {% endif %}">Home</a></li>
                    <li><a href="{% url 'list_rooms' %}" class="nav-link px-2 {% if page == 'rooms' %} link-secondary {% endif %}">Rooms</a></li>
                    <li><a href="#" class="nav-link px-2 {% if page == 'reservations' %} link-secondary {% endif %}">My Reservations</a></li>
                </ul>

            <div class="dropdown dropdown-menu-end col-md-3 text-end me-3">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
</header>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sideMenuLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
        I will not close if you click outside of me.
        </div>
    </div>
</div>

