{% extends 'roomreservation/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="text-secondary px-4 text-center">
        <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Room Reservation</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Discover a smarter way to book meeting rooms effortlessly. Our user-friendly platform streamlines the process of finding and reserving the perfect meeting space for your team. Whether you're planning a crucial presentation or a brainstorming session, we've got you covered. Say goodbye to the hassle of double-bookings and complicated scheduling. Experience the convenience of seamless room reservation with [Web App Name]. Make your next meeting a breeze. Get started now!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Reserve a Room</button>
            <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
            </div>
        </div>
        </div>
    </div>
    
{% endblock %}
```