{% extends 'roomreservation/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<h5 class=" pb-3 text-start text-center ms-5 mb-3 border-bottom d-none d-md-inline-block">Reserver your Room</h5>
    
<div class="container mx-auto">
        <div class="row">
            <div class="col-md-6 order-md-1 order-2 left-column border-end border-dark border-1 justify-content-center ">
                {{ form.as_p }}
            </div>

            <div class="col-md-6 order-md-1 order-2 justify-content-center ">
            </div>
        </div>

    
{% endblock content %}
