{% extends 'roomreservation/base.html' %}
{% load static %}

{% block title %}Reserve Room{% endblock %}

{% block content %}

<h5 class=" pb-3 text-start text-center ms-5 mb-3 border-bottom d-none d-md-inline-block">Reserve your Room</h5>


    
<div class="container mx-auto">
        <div class="row">
            <div class="col-md-6 order-md-1 order-2 border-end border-dark border-1 justify-content-center ">
                {% if form.errors %}
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <div>
                            <i class="fas fa-exclamation-triangle"></i>
                                {{ form.non_field_errors|escape|striptags }}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                            {{ error|escape|striptags }} <br>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>  
                    {% endif %}
                <form class="row g-3 border p-1 my-1 bg-body-tertiary rounded" method="post" >
                    
                    {% csrf_token %}
                    <div class="col-lg-6">
                        <label for="inputAddress" class="form-label">Room</label>
                        {{form.room}}
                    </div>
                    <div class="col-lg-6">
                        <label for="inputAddress2" class="form-label">Title</label>
                        {{form.title}}
                    </div>
                    <div class="col-md-4">
                        <label for="inputAddress2" class="form-label">Date</label>
                        {{form.date}}
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Start Time</label>
                        {{form.start_time}}
                    </div>
                    <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">End Time</label>
                        {{form.end_time}}
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Description</label>
                        {{form.description}}
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-1">Reserve Room</button>
                    </div>
                </form>
            </div>

            <div class="col-md-6 order-md-1 order-2 justify-content-center ">
            </div>
        </div>

    
{% endblock content %}
