{% extends 'roomreservation/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<h5 class=" pb-3 text-start text-center ms-5 mb-3 border-bottom d-none d-md-inline-block">Welcome {{account.user.first_name}}!</h5>
    
<div class="container mx-auto">
        <div class="row">
            <div class="col-md-6 order-md-1 order-2 left-column border-end border-dark border-1 justify-content-center ">

                {% if current_reservations_account %}

                <h5 class="text-center text-md-left d-md-inline-block px-4 py-3  rounded border bg-body-tertiary">Ongoing Reservations</h5>
                    <div class="list-group overflow-auto rounded-2 w-100" data-bs-smooth-scroll="true" tabindex="0" style="max-height: 600px;">
                        {% for reservation in current_reservations_account %}
                                <a href="#" class="list-group-item list-group-item-action mb-2 w-100" aria-current="true" id="{{ reservation.id}}">

                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ reservation.title }}</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item "><span class="fw-bold">Room:</span> {{ reservation.room }}</li>
                                        <li class="list-group-item"><span class="fw-bold">Started at </span> {{ reservation.start_time }}</li>
                                        <li class="list-group-item"><span class="fw-bold">Ending at </span> {{ reservation.end_time }}</li>
                                    </ul>
                                    <span class="badge bg-info mt-2">In Progress</span>
                                </a>
                        {% endfor %}
                    </div>
                    
                {% endif %}

                {% if next_reservations_account %}

                    <h5 class="text-center text-md-left d-md-inline-block px-4 py-3 rounded border bg-body-tertiary">Your Next Reservations</h5>
                    <div class="list-group overflow-auto rounded-2 w-100" data-bs-smooth-scroll="true" tabindex="0" style="max-height: 600px;">
                        {% for reservation in next_reservations_account %}
                                <a href="#" class="list-group-item list-group-item-action mb-2 w-100" aria-current="true" id="{{ reservation.id}}">

                                    <div class="d-flex w-100 justify-content-between">
                                    
                                        <h5 class="mb-1">{{ reservation.title }}</h5>
                                        <small class="text-muted">{{ reservation.created_at|timesince }}</small>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><span class="fw-bold">Room:</span> {{ reservation.room }}</li>
                                        <li class="list-group-item"><span class="fw-bold">Date:</span> {{ reservation.date }}</li>
                                        <li class="list-group-item"><span class="fw-bold">Start Time:</span> {{ reservation.start_time }}</li>
                                        <li class="list-group-item"><span class="fw-bold">End Time:</span> {{ reservation.end_time }}</li>
                                    </ul>
                                    <span class="badge bg-success mt-2">Active</span>
                                </a>
                        {% endfor %}
                    </div>
                    {% else %}
                        <div class="text-center">
                            <h5 class="text-center">You have no reservations.</h5>
                            <a href="#" class="btn btn-primary">Reserve a Room</a>
                        </div>
                {% endif %}
            </div>

            <div class="col-md-6 order-md-1 order-2 justify-content-center ">
                {% if free_rooms %}
                    <h5 class="text-center text-md-left d-md-inline-block px-4 py-3 border rounded mx-2 my-3 mt-md-0 bg-body-tertiary ">Available Rooms</h5>
                    <div class="list-group overflow-y-auto overflow-x-hidden rounded-2 w-100" data-bs-smooth-scroll="true" tabindex="0" style="max-height: 600px;">
                    {% for room in free_rooms %}
                        <div class="card mb-3 bg-body-tertiary w-100 mx-2" >
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="/media/{{room.pic}}" class="object-fit-cover img-fluid h-100 rounded-start border" alt="{{room.name}} picture">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{room.name}}</h5>
                                        <p class="card-text">{{room.description}}</p>
                                        {% for reservation in next_reservation_room %}
                                            {% if reservation.room.name == room.name %}
                                                <p class="card-text"><small class="text-muted">Next Reservation: {{reservation.date}} {{reservation.start_time}} - {{reservation.end_time}}</small></p>
                                            {% endif %}
                                        {% endfor %}
                                        <a href="#" class="btn btn-primary">Reserve</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <div class="text-center">
                        <h5 class="text-center">There are no available rooms.</h5>
                        <a href="#" class="btn btn-primary">Reserve a Room</a>
                    </div>
                {% endif %}
            </div>
        </div>

{% endblock %}