{% load static %}

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0 ms-3">
                <a href="/" class="d-inline link-body-emphasis text-decoration-none">
                    <img src="{% static 'img/RoomEaseLogoNTNB.png' %}" alt="RoomEaseLogo" width="32" height="32" class="rounded-circle me-2">
                    <p class="d-inline my-5 fs-5">Room<span class="text-primary-emphasis">Ease</span></>
                </a>
            </div>
</header>
