{% extends 'auth/base.html' %}
{% load static %}
{% block title %}Signup{% endblock title %}

{% block content %}
    <div class="container" style="max-width:500px;">
        <form class="border border-dark-subtle p-5 bg-dark bg-opacity-25 rounded-3" method="POST">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'img/RoomEaseLogoNTNB.png' %}" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

            <div class="form-floating">
            {{signup_form.username}}
            <label for="id_username">Username</label>
            </div>

            <div class="form-floating">
            {{signup_form.email}}
            <label for="id_email">Email address</label>
            </div>

            <div class="form-floating">
            {{signup_form.password1}}
            <label for="id_password1">Password</label>
            </div>

            <div class="form-floating">
            {{signup_form.password2}}
            <label for="id_password2">Password Confirmation</label>
            </div>

            <button class="btn btn-primary w-100 py-2 mt-5" type="submit" >Sign Up</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; {% now 'Y' %}</p>
        </form>
    </div>
{% endblock content %}

<button class="btn btn-primary w-100 py-2 mt-5" type="submit" >Sign Up</button>